@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --corFundo: #0d0d0d;
    --corFundoSections: #1e1e1e;
    --corFundoBtn: #ff3d00;
    --corTextos: #fff;
}

header{
    background-color: var(--corFundo);
    color: var(--corTextos);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav a{
    color: var(--corTextos);
    text-transform: uppercase;
}

.borda-direita{
    border-right: 1px solid var(--corTextos);
    margin-right: 10px; 
    padding-right: 10px; 
    font-weight: bold;
}

.container-banner{
    background-image: url(../img/banner-cinema.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

/*Parei aqui, [estilizar o button do banner]*/

/* .container-banner button{

} */

img{
    width: 50px;
}